---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=MFj4o1KhZp68gwbQrNS_JHhXjtajRI43_8r-MJ_YGds&query=face
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"7ce596a680fa93ce4c783962eea918f1"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0Zx1bDv5BNY","slug":"shallow-focus-photo-of-woman-in-gray-jacket-0Zx1bDv5BNY","created_at":"2019-11-11T18:21:11Z","updated_at":"2023-12-08T21:10:48Z","promoted_at":null,"width":4016,"height":6016,"color":"#260c0c","blur_hash":"LiJZrLmQ%2t7}=$fWYNaxZW;EMX9","description":null,"alt_description":"shallow
        focus photo of woman in gray jacket","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixid=M3w1MjcwODR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwOTMzODF8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w1MjcwODR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwOTMzODF8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MjcwODR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwOTMzODF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MjcwODR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwOTMzODF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w1MjcwODR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwOTMzODF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1573496359142-b8d87734a5a2"},"links":{"self":"https://api.unsplash.com/photos/shallow-focus-photo-of-woman-in-gray-jacket-0Zx1bDv5BNY","html":"https://unsplash.com/photos/shallow-focus-photo-of-woman-in-gray-jacket-0Zx1bDv5BNY","download":"https://unsplash.com/photos/0Zx1bDv5BNY/download?ixid=M3w1MjcwODR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwOTMzODF8","download_location":"https://api.unsplash.com/photos/0Zx1bDv5BNY/download?ixid=M3w1MjcwODR8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDIwOTMzODF8"},"likes":1607,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"business-work":{"status":"approved","approved_on":"2020-04-06T14:20:15Z"}},"user":{"id":"UxDFiZaNdF8","updated_at":"2023-11-30T10:22:52Z","username":"wocintechchat","name":"Christina
        @ wocintechchat.com","first_name":"Christina @ wocintechchat.com","last_name":null,"twitter_username":"wocintechchat","portfolio_url":"https://www.wocintechchat.com","bio":"Creators
        of the #WOCinTech stock OSS Creative Commons photo collection. Learn about
        how and why this collection came about at www.wocintechchat.com","location":"New
        York, NY","links":{"self":"https://api.unsplash.com/users/wocintechchat","html":"https://unsplash.com/@wocintechchat","photos":"https://api.unsplash.com/users/wocintechchat/photos","likes":"https://api.unsplash.com/users/wocintechchat/likes","portfolio":"https://api.unsplash.com/users/wocintechchat/portfolio","following":"https://api.unsplash.com/users/wocintechchat/following","followers":"https://api.unsplash.com/users/wocintechchat/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1462130890488-77bd27f193d8?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1462130890488-77bd27f193d8?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1462130890488-77bd27f193d8?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"wocintechchat","total_collections":0,"total_likes":0,"total_photos":228,"total_promoted_photos":71,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"wocintechchat","portfolio_url":"https://www.wocintechchat.com","twitter_username":"wocintechchat","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"landing_page","title":"people","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        images \u0026 pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","slug":"woman-carrying-baby-while-walking-PmNjS6b3XP4","created_at":"2017-04-20T22:04:07Z","updated_at":"2023-11-29T07:01:37Z","promoted_at":"2017-04-21T16:00:49Z","width":4630,"height":3087,"color":"#a6d9d9","blur_hash":"LjI=x%:QUbv#NHWVa}kCt7jFjZfQ","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-4.0.3","full":"https:[...]
